page-start{
.tutorial-page 
{
    //background-color: #0099a9;

   .slides{
        position: fixed;
        left: 0;
        right: 0;
        top: 21%;
        bottom: 0;
        margin: auto;
        img{
            border-radius: 50%;
            width: 425px !important;
            height: 282px;
        }
        h2{
            margin-top: 41px;
            text-align: center;
            font-weight: 500;
            font-size: 26px !important;
        }
        p{
            padding: 0 5px;
            line-height: 1.5;
            color: #000;
            font-weight: 300;
            font-size: 20px;
        }
    }
    .bottom-btn{
        position: fixed;
        bottom: 14%;
        left: 0;
        right: 0;
        button{
            position: relative;
            border: 1px solid;
            width: 39%;
            padding: 22px 0;
            display: block;
            margin: auto;
            color: #fff;
            border-radius: 50px !important;
            text-transform: capitalize;
            font-weight: 100;
            left: 0px;
            background: rgba(0,152,169,1);
            background: -moz-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,152,169,1)), color-stop(50%, rgba(28,205,214,1)), color-stop(55%, rgba(75,202,209,1)), color-stop(100%, rgba(0,152,169,1)));
            background: -webkit-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            background: -o-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            background: -ms-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            background: linear-gradient(to right, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098a9', endColorstr='#0098a9', GradientType=1 );
        }
    }
    .design
    {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-top: -425px;
    background: #044c4c;
     width: 50%;
    }

    .skip{
        position: fixed;
        bottom: 5px;
        z-index: 999;
        left: 15px;
        border-color: transparent;
        color: #fff;
        transition: none;   
    }

    .next{
        position: fixed;
        bottom: 5px;
        right: 15px;
        z-index: 999;
        border-color: transparent;
        color: #fff;
        transition: none;
    }

    .button-inner{
        font-size: 20px;
    }

    .slide-zoom 
    {
        height: 100%;
    }

    .slide-title 
    {
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 2.8rem;
    }

    .slide-image 
    {
        max-height: 100%;
        width: 100%;
    }

      .slide-image1 
    {
        max-height: 100%;
        width: 100%;
    }

    b 
    {
        font-weight: 500;
    }

    p 
    {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;

        b { color: #000000; }
    }
}
.hide-text{
    visibility: hidden;
}
}
@media(max-height: 680px){
    .bottom-btn {
        bottom: 2% !important;
        
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 24%;
        left: 0;
        width: 100%;
    }
    .slides {
        position: fixed;
        left: 0;
        right: 0;
        top: 4% !important;
        bottom: 0;
        margin: auto;
    }
    .slides img {
        border-radius: 50%;
    }
}
