page-start{
.tutorial-page 
{
    //background-color: #0099a9;

   .slides{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        img{
            border-radius: 50%;
            width: 425px !important;
            height: 282px;
        }
        h2{
            font-size: 22px !important;
            position: absolute;
            top: 25%;
            text-align: center;
            left: 0;
            right: 0;
            font-weight: bold !important;
            color: #330c69;
            span{
                font-size: 42px;
                text-transform: capitalize;
                margin-left: -8px;
            }
        }
        .define{
            font-size: 22px !important;
            position: absolute;
            top: 25%;
            text-align: center;
            left: 0;
            right: 0;
            font-weight: bold !important;
            color: #330c69;
            width: fit-content;
            margin: auto;
            p:first-child{
                text-align: left;
                margin-bottom: -14px;
                margin-left: -4px;
            }
            span{
                font-size: 59px;
                text-transform: capitalize;
                margin-left: -8px;
            }
            p:last-child{
                text-align: right;
                margin-top: -12px;
                margin-right: 4px;
                text-transform: capitalize;
            }
            .fav{
                font-size: 35px;
                display: block;
                margin-top: 5px;
                margin-bottom: 4px;
            }
        }
        // p{
        //     padding: 0 5px;
        //     line-height: 1.5;
        //     color: #000;
        //     font-weight: 300;
        //     font-size: 20px;
        // }
    }
    .bottom-btn{
        position: absolute;
        bottom: 0%;
        left: 0;
        right: 0;
        button{
            position: relative;
            border: 1px solid;
            width: 39%;
            padding: 22px 0;
            display: block;
            margin: auto;
            color: #fff;
            border-radius: 50px !important;
            text-transform: capitalize;
            font-weight: 400;
            left: 0px;
            background: #330c69;
            // background: -moz-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,152,169,1)), color-stop(50%, rgba(28,205,214,1)), color-stop(55%, rgba(75,202,209,1)), color-stop(100%, rgba(0,152,169,1)));
            // background: -webkit-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            // background: -o-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            // background: -ms-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            // background: linear-gradient(to right, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098a9', endColorstr='#0098a9', GradientType=1 );
        }
    }
    .design
    {
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        margin-top: -425px;
        background: #044c4c;
        width: 50%;
    }

    .skip{
        position: fixed;
        bottom: 5px;
        z-index: 999;
        left: 15px;
        border-color: transparent;
        color: #fff;
        transition: none;   
    }

    .next{
        position: fixed;
        bottom: 5px;
        right: 15px;
        z-index: 999;
        border-color: transparent;
        color: #fff;
        transition: none;
    }

    .button-inner{
        font-size: 20px;
    }

    .slide-zoom 
    {
        height: 100%;
    }

    .slide-title 
    {
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 2.8rem;
    }

    .slide-image 
    {
        max-height: 100%;
        width: 100%;
    }

      .slide-image1 
    {
        max-height: 100%;
        width: 100%;
    }

    b 
    {
        font-weight: 500;
    }
}
.hide-text{
    visibility: hidden;
}
}
@media(max-height: 680px){
    .bottom-btn {
        bottom: 2% !important;
        
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 24%;
        left: 0;
        width: 100%;
    }
    .slides {
        position: fixed;
        left: 0;
        right: 0;
        top: 0% !important;
        bottom: 0;
        margin: auto;
    }
    .slides img {
        border-radius: 50%;
    }
}
