page-friendlist{
    ion-img.img-loaded img,ion-avatar img, ion-thumbnail img{
        display: block !important;
    }
    .main-view{
        background: transparent;
      }
      .div_main{
        padding: 48px 23px;
        background: #fff;
        width: 80%;
        position: fixed;
        top: calc(0%);
        left: 0;
        right: 0;
        width: 80%;
        bottom: 0;
        margin: auto;
        bottom: 0;
        /* margin-top: 26%; */
        height: fit-content;
          img{
            height: 123px;
            width: 123px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            border: 2px solid #7e7d7d;
          }
          h2{
            font-size: 17px !important;
            font-weight: 500 !important;
            color: #000;
            display: block;
            text-align: center;
            width: 100%;
          }
          p{
            font-size: 16px !important;
            color: #666;
            margin-top: 7px !important;
            width: 100%;
            margin-bottom: 3px;
          }
         .option{
             width: 100%;
         } 
        .div_bottom{
            margin-top: 40px;
            ion-row{
                position: relative;
                button{
                    padding: 12px 15px;
                    font-size: 16px;
                    color: #fff;
                    background: rgba(0,152,169,1);
                    background: -moz-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,152,169,1)), color-stop(50%, rgba(28,205,214,1)), color-stop(55%, rgba(75,202,209,1)), color-stop(100%, rgba(0,152,169,1)));
                    background: -webkit-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    background: -o-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    background: -ms-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    background: linear-gradient(to right, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098a9', endColorstr='#0098a9', GradientType=1 );
                }
            }
        }  
      }      
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: black;
      }
      .modal_content {
        position: absolute;
        top: calc(0%);
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 0px;
        color: #333;
        background: rgba(0,0,0,0.35) !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-shadow: 0 0px 0px rgba(51, 51, 51, 0.35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: auto;
        z-index: 9999;
      }
    
    .ion-pro .friendlist-page-content .title
    {
        margin-left: 10px;
    }
    .ion-pro ion-img,.ion-pro img{
        position: relative !important;
    }
    .friendlist-page-content .list-ios > .item-block:first-child{
        border-top:0px;
    }
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        width: 47px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
    }
    .list-md {
        margin: 5px 1px 0px 4px;
    }
    .mytime{
        font-size: 16px;
        display: inline;
        float: right;
        margin-top: 3px;
        color: #999;
        font-weight: 500;
    }
    .item-md [item-right]{
        margin: 0px 8px 9px 0;
    }
    h2{
        font-size: 17px !important;
        font-weight: 500 !important;
        color: #000;
        display: inline;
    }  
    p{
        font-size: 16px !important;
        color: #666;
        margin-top: 7px !important;
    }
    .msg-name{
        font-size: 16px;
        display: inline;
        color: #000;
        font-weight: 500;
    }
    .label-md {
        margin: 13px 8px 12px 0;
    }
    .badge-md {
        border-radius: 4px;
        color: #fff;
        background-color: #488aff;
        margin: 3px 11px;
    }
}