page-friendlist{
    .option-scroll{
        height: 81px;
        overflow: auto;
        width: 86%;
        margin: auto;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede !important;
    }
    .group-img{
        width: 50px;
        height: 46px;
        border-radius: 50%;
        position: relative;
        display: table;
        .group-text span {
            display: table-cell;
            vertical-align: middle;
            height: 25px;
            width: 25px;
            background: #eeeeee;
            border-radius: 50%;
            color: #7bd7e0;
            text-align: center;
            /* text-rendering: optimizeLegibility; */
            text-transform: uppercase;
            font-size: 9px;
            font-weight: 500;
        }
        .group-text span:nth-child(1) {
            position: absolute;
            left: 0;
            right: 1px;
            bottom: 0;
            margin: auto;
            line-height: 3;
        }    
        .group-text span:nth-child(2),.group-text span:nth-child(3){
            position: relative;
            top: 6px;
        }
        .group-text span:nth-child(2){
            left: 0px;
        }
        .group-text span:nth-child(3){
            right: 1px;
        }
    }
    .name-show{
        width: 47px;
        height: 46px;
        border-radius: 50%;
        background: #eee;
        position: relative;
        span{
            display: block;
            text-align: center;
            font-size: 15px;
            text-transform: uppercase;
            color: #7bd7e0;
            font-weight: 500;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: fit-content;
        }
    }
    .back-button{
        display: none !important;
    }
    .user-profile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        img{
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: #eeeeee;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        .text-img{
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: #eeeeee;
            display: block;
            text-align: center;
            font-size: 15px;
            text-transform: uppercase;
            color: #7bd7e0;
            font-weight: 500;
            margin: 6px auto;
            position: relative;
            span{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: fit-content;
                width: fit-content;
            }
        }
    }
    ion-img.img-loaded img,ion-avatar img, ion-thumbnail img{
        display: block !important;
    }
    .main-view{
        background: transparent;
      }
      .div_main{
        background: #fff;
        position: fixed;
        top: calc(0%);
        left: 0;
        right: 0;
        width: 86%;
        bottom: 0;
        margin: auto;
        bottom: 0;
        /* margin-top: 26%; */
        height: 298px;
        .ion-md-close{
            padding: 3px 7px;
            border-radius: 50%;
            font-size: 19px;
            z-index: 999;
            position: absolute;
            right: 1px;
            top: 4px;
        }
        ion-slides {
            width: 100%;
            height: 298px;
            display: block;
            position: relative;
            background: #fff;
        }
        ion-slide.swiper-slide.swiper-slide-active {
            width: 100% !important;
        }
          img{
            height: 100px;
            width: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            border: 2px solid #7e7d7d;
          }
          h2{
            font-size: 17px !important;
            font-weight: 500 !important;
            color: #000;
            display: block;
            text-align: center;
            width: 100%;
            margin-top: 12px;
            margin-bottom: 0px;
          }
          p{
            font-size: 16px !important;
            color: #666;
            margin-top: 7px !important;
            width: 100%;
            margin-bottom: 3px;
          }
         .option{
             width: 100%;
         } 
        .div_bottom{
            margin-top: 15px;
            ion-row{
                position: relative;
                button{
                    padding: 12px 15px;
                    font-size: 16px;
                    color: #fff;
                    background: rgba(0,152,169,1);
                    background: -moz-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,152,169,1)), color-stop(50%, rgba(28,205,214,1)), color-stop(55%, rgba(75,202,209,1)), color-stop(100%, rgba(0,152,169,1)));
                    background: -webkit-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    background: -o-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    background: -ms-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    background: linear-gradient(to right, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098a9', endColorstr='#0098a9', GradientType=1 );
                    margin-left: 10px;
                }
            }
        } 
        .btnPrev {
            position: absolute;
            top: 0;
            bottom: 30%;
            background: transparent;
            color: #000;
            -webkit-box-shadow: none;
            box-shadow: none;
            left: 20px;
            padding: 0 7px;
            z-index: 999;
            margin: auto;
            height: 32px;
            .button-inner{
                font-size: 4rem;
            }
        }
        .btnNext{
            position: absolute;
            right: 0;
            top: 0;
            background: transparent;
            color: #000;
            -webkit-box-shadow: none;
            box-shadow: none;
            right: 21px;
            padding: 0 7px;
            z-index: 999;
            bottom: 30%;
            margin: auto;
            height: 100%;
            .button-inner{
                font-size: 4rem;
            }
        } 
      }      
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: black;
      }
      .modal_content {
        position: absolute;
        top: calc(0%);
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 0px;
        color: #333;
        background: rgba(0,0,0,0.35) !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-shadow: 0 0px 0px rgba(51, 51, 51, 0.35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: auto;
        z-index: 9999;
      }
    
    .ion-pro .friendlist-page-content .title
    {
        margin-left: 10px;
    }
    .ion-pro ion-img,.ion-pro img{
        position: relative !important;
    }
    .friendlist-page-content .list-ios > .item-block:first-child{
        border-top:0px;
    }
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        width: 47px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
    }
    .list-md {
        margin: 0px 10px 0px 4px;
    }
    .item-md{
        display: contents;
    }
    .mytime{
        font-size: 13px;
        display: inline;
        // float: right;
        margin-top: -16px;
        color: #666;
        font-weight: normal;
    }
    .item-md [item-right]{
        margin: 0px 1px 9px 0;
        position: relative;
        top: -9px;
    }
    h2{
        font-size: 16px !important;
        font-weight: bold !important;
        color: #000;
        display: inline;
    }  
    p{
        font-size: 13px !important;
        color: #666 !important;
        margin-top: 3px !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        height: 16px;
    }
    .text-profile {
        height: 100px;
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background: #eeeeee;
        color: #7bd7e0;
        font-size: 23px;
        text-transform: uppercase;
        position: relative;
        span{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: fit-content;
            height: fit-content; 
        }
    }
    .msg-name{
        font-size: 16px;
        display: inline;
        color: #000;
        font-weight: 500;
    }
    .label-md {
        margin: 8px 8px 8px 0;
    }
    .badge-md {
        border-radius: 4px;
        color: #fff;
        background-color: #488aff;
        margin: 3px 11px;
    }
    .footer-md .toolbar-md {
        padding: 0px;
        min-height: 56px !important;
    }    
    .tab{
        opacity: 1;
        background: transparent;
        width: 100%;
        .tab-content {
            margin: 0;
            font-size: 17px;
            color: #000000;
            text-align: center;
            max-width: 32%;
            display: inline-block;
            width: 32%;
            padding: 11px 0px;
            ion-icon {
                display: inline-block;
                font-size: 30px;
            }
        }   
        .tab-active{
            border-bottom: 2px solid #000000;
            ion-icon {
                color: #7bd7e0;
            }
        } 
    }
}