
    page-sendrequest{
    .title
    {
        margin-left:10px;
    }

    .btndesign
    {
        border-radius: 8px;
        background-color:#0099a9;
    }

    .in
    {
        margin-left: 30px;
    }

    .item
    {
        margin-top: 50px; 
        padding-right:6%; 
        padding-left:6%;
    }
    }