page-show-profile {
    // .back-button.show-back-button {
    //     display: inline-block !important;
    // }
    #profile-image
    {        
        border-radius: 50%;
        overflow: visible;
        // position: absolute;
        margin-top: 0;
        display: inline-block;
        margin-bottom: 2%;
        height: 27vw;
        width: 27vw;
    }
    .user-i{
        border-radius: 50%;
        overflow: visible;
        margin-top: 0;
        display: inline-block;
        margin-bottom: 2%;
        height: 27vw;
        width: 27vw;
        background: #eeeeee;
        font-size: 23px;
        font-weight: 500;
        color: #7bd7e0;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        span{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: fit-content;
            height: fit-content;
            margin: auto;
        }
    }
    .scroll-content {
        margin: 0 15px;
    }
    .button-md{
        overflow: hidden;
        margin: 0.6rem 0.5rem;
        padding: 8px 9px !important;
        height: 3rem !important;
        width: auto;
        border-radius: 30px !important;
        font-size: 16px !important;
        font-weight: 400;
        text-transform: inherit;
        background: transparent;
        color: #000;
        border: 1px solid;
        box-shadow: none;
    }
    .chat-icon-div{
        height: 69px;
        width: 69px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        background: rgb(79,175,145);
        border-radius: 50%;
        color: #000;
        font-size: 22px;
        float: right;
        left: 75%;
        bottom: 16px;
        img{
            color: #fff;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 45px;
            height: 45px;
        }
    }
    .profile-image-container {
        // background: rgba(192, 204, 218, 0.29);
        // border-bottom: 1px solid #dbdbdb;
        // height: 30%;
        margin-top: 15px;
        position: relative;
        margin-left: 15px;
        margin-bottom: 5px !important;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .data-option{
        padding: 0 0px !important;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 5px !important;
    }
    .info-b {
        width: fit-content;
        display: inline-block;
        font-size: 19px;
        margin: 0 12px 10px 12px;
        font-weight: lighter;
    }
    .secondary-color{
        color:#488aff;
    }
    .user-info{
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        span.info-label {
            display: block;
            margin-bottom: 8px;
            .icon{
                color: #c8c7cc;
            }
            .name{
                font-size: 16px;
                margin-left: 15px;
                text-transform: capitalize;
            }
        }
    }
    .item-inner {
        border-bottom: 0px solid #dedede !important;
    }
    .label-md {
        margin: 0px 0px 0px 0;
        white-space: unset;
    }
    .item-block{
        min-height: 2.4rem;
    }
    h2{
        text-align: center;
        font-size: 16px !important;
        font-weight: 500;   
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
    p{
        font-size: 19px !important;
        margin-bottom: 7px !important;
    }
    span.label {
        display: inline-block;
        text-align: left;
        font-weight: 500;
        width: 80px;
    }
    .footer-md::before{
        background-image: none;
    }
    // .footer{
    //     height: 80px;
    //     width: 80px;
    //     text-align: center;
    //     vertical-align: middle;
    //     display: table-cell;
    //     background: #7bd7e0;
    //     border-radius: 50%;
    //     color: #000;
    //     font-size: 22px;
    //     float: right;
    //     left: 75%;
    //     bottom: 25px;
    // }
    .chat-icon-div{
        position: fixed;
    }
}
