page-info {
    h1{
        text-align: center;
        font-size: 24px;
    }
    .bussiness,.people{
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,.02) 33%,rgba(0,0,0,0) 34%),url('../assets/image/bussiness.png');
    }
    .title-btn button {
        width: 24%;
        padding: 11px 0 !important;
        margin: 0 !important;
        height: auto !important;
        font-size: 14px !important;
        text-transform: capitalize;
        background: linear-gradient(to right, #0098a9 0%, #1ccdd6 50%, #4bcad1 55%, #0098a9 100%);
    }
    .title-btn .label-md {
        margin-right: 0;
    }
    .ads{
        height: 198px;
        background-size: cover;
        border-radius: 9px;
        margin-bottom: 14px !important;
        h2{
            font-size: 19px !important;
            color: #fff;
            text-align: center;
            margin: 16px 0 !important;
            font-weight: 300 !important;
        }
        p{
            margin: 0 0 2px;
            font-size: 15px;
            line-height: normal;
            color: #e0e0e0;
            white-space: initial;
            padding: 0 20px;
            text-align: justify;
        }
        div{
            text-align: right;
            color: #fff;
            padding: 13px 0;
        }
    }

    .homework{
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,.02) 33%,rgba(0,0,0,0) 34%),url('../assets/image/homework.jpeg');
    }
    .chat-room{
        .toolbar-background-md {
           background: #7bd7e0 !important;
         }
         .toolbar-content ion-icon {
           display: inline-block;
           font-size: 31px;
           color: #fff;
           margin-left: 13px;
           margin-right: 15px;
       }
         .toolbar-title-md {
           color: #ffffff !important;
       }
   }
    .tab{
        opacity: 1;
        background: transparent;
        width: 100%;
        .tab-content {
            margin: 0;
            font-size: 17px;
            color: #000000;
            text-align: center;
            max-width: 32%;
            display: inline-block;
            width: 32%;
            padding: 11px 0px;
            ion-icon {
                display: inline-block;
                font-size: 30px;
            }
        }   
        .tab-active{
            border-bottom: 2px solid #000000;
            ion-icon {
                color: #7bd7e0;
            }
        } 
    }    
}
