page-info {
    .tab{
        opacity: 1;
        background: transparent;
        width: 100%;
        .tab-content {
            margin: 0;
            font-size: 17px;
            color: #000000;
            text-align: center;
            max-width: 32%;
            display: inline-block;
            width: 32%;
            padding: 11px 0px;
            ion-icon {
                display: inline-block;
                font-size: 30px;
            }
        }   
        .tab-active{
            border-bottom: 2px solid #000000;
            ion-icon {
                color: #7bd7e0;
            }
        } 
    }    
}
