@font-face {
    font-family: 'GothamRounded';
    src: url(../assets/Font/GothamRounded-Book.otf);
}
@font-face {
    font-family: 'GothamRounded-italic';
    src: url(../assets/Font/GothamRounded-BookItalic.otf);
}
@font-face {
    font-family: 'GothamRounded';
    src: url(../assets/Font/GothamRounded-Bold.otf);
    font-weight: bold;
}
// @font-face {
//     font-family: 'GothamRounded';
//     src: url(../assets/Font/GothamRounded-Medium.otf);
//     font-weight: 700;
// }
// @font-face {
//     font-family: 'GothamRounded';
//     src: url(../assets/Font/GothamRounded-Light.otf);
//     font-weight: 500;
// }

body,h1,h2,h3,p,button,span,.label-md{
    font-family: 'GothamRounded' !important;
}
ion-menu.show-menu,.md .menu-inner {
    display: none;
} 
.emoji {
    padding: 0 !important;
    margin: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 22px !important;
    position: fixed;
    color: #7bd7e0;
    left: 13px;
    bottom: 6px;
    z-index: 999;
}
.popover-content .label-md{
    padding-left: 10px;
}
emoji-picker{
    position: fixed !important;
    z-index: 9999;
    top: 54% !important;
    height: 262px;
    overflow-y: auto;
    width: 100%;
    width: fit-content;
    top: 0;
}
.f-class{
    background-color: #ffffff;
    margin-bottom: 3px;
}
.emoji-show{
    position: fixed;
    left: -2px;
    background: transparent;
    box-shadow: none;
    font-size: 22px !important;
    color: #7bd7e0;
    top: 7px;
}
[_nghost-c2] {
    height: 262px !important; 
}    
@media (min-width: 258px){
[_nghost-c2] {
    width: 100% !important;
}
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 25%;
    left: 0;
    width: 100%;
}
.toolbar-title-md {
    text-transform: capitalize;
    padding: 0 6px;
}
.input-has-focus .item-inner {
    border-bottom-color: #f2f2f2 !important;
    -webkit-box-shadow: inset 0 0px 0 0 #488aff !important;
    box-shadow: inset 0 0px 0 0 #488aff !important;
}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #32db64;
    -webkit-box-shadow: inset 0 0px 0 0 #32db64;
    box-shadow: inset 0 0px 0 0 #32db64;
}
.bottom-menu{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #c0ccda;
    .menu-item {
        display: inline-flex;
        width: 32%;
        p {
            text-align: center;
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
        }
    }
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    height: 15px;
    text-align: center;
    transform: rotate(45deg);
    width: 15px;
    border: 2px solid #330c69;
    z-index: 9999;
    opacity: 1;
    background: transparent;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #330c69 !important;
}
.popover-md .popover-content {
    width: 93%;
    -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.toolbar-background-md 
{
    border-color: #b2b2b2;
    background: #7bd7e0; 
    color:white; 
}

.popover-content .item-md:nth-child(odd){
    background: #f9fafc;
}

.popover-content .item-md{
    background-color: #e5e9f2;
}
.select-text {
    color: #000;
}

#profileimage
{
    border-radius: 50%;
    overflow: hidden;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 2%;
    height: 30vw;
    width: 30vw;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ion-icon
{
    color:white;
}

.toolbar-title-md 
{
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default 
{
    color: #ffffff;
}

button {
    border-radius: 5px !important;
}
//ios
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    background-color: #7bd7e0;
     color:white;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: white;
    background-color: transparent;
}
.toolbar-title-ios {
    color: white;
    text-align: left;
}
.footer-md::before{
    background-image: none !important;
}