.item-md ion-avatar[item-left] {
    margin: 0px 12px 0px 10px !important;
    display: inline-block;
    float: left;
}
.title-item{
        background:transparent;
        color:white;
    } 
.back-btn{
    background: transparent;
    border: none;
    box-shadow: none;
}    