.item-md ion-avatar[item-left] {
    margin: 0px 12px 0px 10px !important;
    display: inline-block;
    float: left;
}
.title-item{
        background:transparent;
        color:white;
    } 
.back-btn{
    background: transparent;
    border: none;
    box-shadow: none;
}    
h2{
    font-size: 17px !important;
    font-weight: 500 !important;
    color: #000;
}
.image {
    display: inline-block;
    margin: 14px 5px;
    .imgstyle{
        width: 76px;
        border-radius: 52%;
        height: 76px;
        max-width: 98px;
        background-color: rgba(244, 244, 244, 0.67);
    }
    .hideimage{
        visibility: hidden;
    }
}