page-option {
    .ui-menu .ui-menu-item-wrapper {
        position: relative;
        padding: 6px 1em 6px .4em;
    }
    li.ui-menu-item:nth-child(odd) {
        background: rgba(158, 158, 158, 0.1);
    }
    .input-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .input-wrapper{
        border-bottom: 1px solid #dadada !important;
    }
    .select-option .input-wrapper{
        border-bottom: 0px solid #dadada !important;
    }
    .auto-complete{
        input{
            width: 100%;
            height: 100%;
            border: 0;
            cursor: pointer;
        }
    }
    .content{
        .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
            border-bottom-color: #ededed;
            border-width: 1.5px;
        }
        .txtdesign1{
            background-color: transparent;
        }
        .select-text {
            color: #000;
        }
        .transport{
           padding: 10px 10px;
            height: 3.8rem;
            font-size: 17px;
            margin-right: 28px;
            background-color: transparent;
            border: 2px solid #000;
            color: #000;
            border-radius: 6px !important;
            text-transform: capitalize;
            img{
                height: 31px;
                margin-right: 16px;
            }
        }
    
        .select-option,.train{
            margin-bottom: 15px !important;
        }
        .select-option .item-inner {
            padding-right: 8px;
            border-bottom: 0px solid #dedede;
        }
        .select-option .label-md {
            margin: 5px 8px 0px 0px;
        }


        // .button-md-primary,.button-md-lightprimary,.button-md-primary{
        //     color: #fff;
        //     background-color: transparent;
        //     border: 1px solid;
        // }
        
        // .button-md-primaryprimary,.button-md-light{
        //     background-color: #0099a9;
        //     border: 1px solid #0099a9;
        // }
        h1{
            text-align: center;
            margin-top: 40px !important;
            margin-bottom: 30px;
            color: #340c6c;
        }
        .select-md {
            padding: 7px 8px 8px 0px;
            max-width: 100%;
            width: 100%;
        }
        .multiple-option{
            .button-md {
                overflow: hidden;
                margin: 0.6rem 0.5rem;
                padding: 8px 9px;
                height: 3rem;
                width: auto;
                border-radius: 30px !important;
                font-size: 16px;
                font-weight: 400;
                text-transform: none;
            }
            .button-md-dark {
                color: #000;
                background-color: transparent;
                border: 1px solid #000;
            }
            .button-md-primary {
                color: #000000;
                //background-color: rgba(84, 66, 235, 0.76) !important;
                background: #51e4de;
            }    
        }
        .text-input-md {
            margin: 0px 0px 0px 0px;
            padding: 0;
            width: calc(100% - 8px - 8px);
        }
        .checkbox-checked{
            border-color: #78889f;
            background-color: #78889f;
        }
        .checkbox-inner {
            position: absolute;
            top: 17% !important;
            left: 7px !important;
        }    
        .item-md{
            margin: 0px 0px 0px 0px;
            padding-left: 0px;
        }
        .item-block{
            min-height: 4.3rem;
        }
        .label-md {
            margin: 15px 8px 0px 0px;
            color: #7c8ea5;
            font-weight: 600;
            font-size: 16px;
            font-family: 'GothamRounded' !important;
        }
        .text-input-md {
            color: #000;
        }
        .checkbox-md .checkbox-icon {
            position: relative;
            width: 22px;
            height: 22px;
            border-width: 2px;
            border-style: solid;
            border-radius: 2px;
            border-color: #787878;
            background-color: transparent;
        }
        .remove-border .item-inner {
            padding-right: 0 !important;
            border-bottom: 0px solid #dedede !important;
        }
        .remove-border .label-md {
            margin: 0px 0px 0px 0px;
            color: #dbdbdc;
        }    
        .remove-border{
            min-height: auto;
            margin-bottom: 10px;
        }
        .remove-border .checkbox-md {
            margin: 0px 36px 0px 4px;
        }
        .info{
            margin-bottom: 5px;
            margin-top: 10px;
        }
    }
}
.option .btndesign{
    height: 4.2rem;
    width: 100%;
    padding: 22px 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px !important;
    text-transform: capitalize;
    font-size: 19px;
    background: #30327d;
    // background: -moz-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,152,169,1)), color-stop(50%, rgba(28,205,214,1)), color-stop(55%, rgba(75,202,209,1)), color-stop(100%, rgba(0,152,169,1)));
    // background: -webkit-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
    // background: -o-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
    // background: -ms-linear-gradient(left, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
    // background: linear-gradient(to right, rgba(0,152,169,1) 0%, rgba(28,205,214,1) 50%, rgba(75,202,209,1) 55%, rgba(0,152,169,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098a9', endColorstr='#0098a9', GradientType=1 );
    margin-bottom: 0;
    border-radius: 0px !important;
    font-family: 'GothamRounded' !important;
}
.footer-md .toolbar-md {
    padding: 0px;
    min-height: auto !important;
}
.footer-md .toolbar-background-md {
    border-color: #b2b2b2;
    background: transparent;
    color: white;
}
.select-option .active{
    border: 3px solid #30327d !important;
    color: #30327d !important;
    height: 4.1rem !important;
    padding: 10px 10px !important;
    font-size: 21px !important;
    background: #51e4de !important;
}

